The goal of this project is to see get information on the names of social security card applicants over time in the US.

# Imports & Variables

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

from google.cloud import bigquery
import bq_helper 
# create a helper object for our bigquery dataset
usa_names = bq_helper.BigQueryHelper(active_project= "bigquery-public-data", 
                                       dataset_name = "usa_names")
usa_names.list_tables()
# print information on all the columns in the "full" table
# in the hacker_news dataset

Using Kaggle's public dataset BigQuery integration.

['usa_1910_2013', 'usa_1910_current']

In [2]:
usa_names.table_schema("usa_1910_2013")

     name     type      mode                        description
0   state   STRING  NULLABLE                 2-digit state code
1  gender   STRING  NULLABLE           Sex (M=male or F=female)
2    year  INTEGER  NULLABLE              4-digit year of birth
3    name   STRING  NULLABLE    Given name of a person at birth
4  number  INTEGER  NULLABLE  Number of occurrences of the name

In [3]:
# after importing, we can start building queries using SQL that will give different kinds of
# information about the datas
query1 = """SELECT name, year
            FROM `bigquery-public-data.usa_names.usa_1910_2013`
            WHERE number = 123"""
usa_names.query_to_pandas_safe(query1)

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

          name  year
0     Beatrice  1910
1       Mollie  1913
2       Esther  1910
3         Edna  1910
4       Myrtle  1910
...        ...   ...
3729    Hayden  2013
3730      Owen  2013
3731    Thomas  2013
3732   Brayden  2013
3733    Sawyer  2013

[3734 rows x 2 columns]

In [4]:
query2 = """SELECT name, number
            FROM `bigquery-public-data.usa_names.usa_1910_2013`
            WHERE number = (
            SELECT MAX(number) 
            FROM `bigquery-public-data.usa_names.usa_1910_2013`)"""
usa_names.query_to_pandas_safe(query2)

/opt/conda/lib/python3.7/site-packages/google/cloud/bigquery/client.py:440: UserWarning: Cannot create BigQuery Storage client, the dependency google-cloud-bigquery-storage is not installed.
  "Cannot create BigQuery Storage client, the dependency "

     name  number
0  Robert   10025